body {
  zoom: 1;
}


@font-face {
  font-family: "Betty Noir";
  src: url(../fonts/bettynoir.ttf) format("truetype");
}

nav {
  // background: #4f7b7e;
  background: lightblue;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  font-family: "Betty Noir", Verdana, Tahoma;
  font-size: 24px;
  color: white;
  
  div {
    float:left;
    margin: auto;
  }
  
  a {
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

#root {
  &.container {
    padding-right: 0; 
    padding-left: 0;
  }
}

#logo{
  width: 100px;
  
  
}

.mission {
}

.dancers {
  
}

.sponsors {
  
}

.donation {
  
}

.upcoming {
  
}

.volunteer {
  
}